<!-- introduction  -->
<div class="container">
  <div class="row row-intro" style="margin-top: 80px">
    <div class="col-md-6">
      <img
        src="assets/undraw-resume.svg"
        alt="Profile Data SVG"
        width="500"
        height="300"
        style="margin-top: -20px; margin-left: -50px"
      />
    </div>
    <div class="col-md-6" style="margin-top: 55px">
      <h3 style="text-align: right">Hi There, I am</h3>
      <h3
        [style.font-family]="'Dancing Script'"
        style="font-size: 50px; color: #ff6b6b"
      >
        {{ name }}
      </h3>
      <p style="text-align: center">{{ description }}</p>
    </div>
  </div>
</div>

<!-- projects -->
<div class="container mt-5">
  <div class="row" style="margin-top: 50px">
    <div class="col-md-12 text-center">
      <h2 class="section-title text-center">Projects</h2>
    </div>
  </div>
  <div class="row" style="margin-top: 32px">
    <div class="col-md-4 mb-4">
      <div class="card card-custom">
        <div class="card-front">
          <div class="card-body">
            <h5 class="card-title">Commission Management System</h5>
            <p class="card-text">
              Developed a Commission Management System to streamline and
              automate commission-related processes. Used .NET 8 for backend
              development and Angular 17 for the frontend.
            </p>
          </div>
        </div>
        <div class="card-back">
          <img
            src="assets/undraw-commission.svg"
            alt="Project 1 SVG"
            width="200"
            height="200"
          />
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card card-custom">
        <div class="card-front">
          <div class="card-body">
            <h5 class="card-title">Task Management System</h5>
            <p class="card-text">
              Contributed to the development of a Task Management System aimed
              at optimising task assignment and monitoring within the
              organisation. Employed .NET 8 for backend API development and
              Blazor WebAssembly for the frontend.
            </p>
          </div>
        </div>
        <div class="card-back">
          <img
            src="assets/undraw-task.svg"
            alt="Project 2 SVG"
            width="220"
            height="220"
          />
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card card-custom">
        <div class="card-front">
          <div class="card-body">
            <h5 class="card-title">Apartment Booking System</h5>
            <p class="card-text">
              Led the development of an Apartment Booking System designed to
              facilitate the reservation and management of apartment rentals.
              Utilized .NET 8 for backend API development and React for the
              frontend.
            </p>
          </div>
        </div>
        <div class="card-back">
          <img
            src="assets/undraw-apartment.svg"
            alt="Project 3 SVG"
            width="200"
            height="200"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center" style="margin-top: 32px">
    <div class="col-md-4 mb-4">
      <div class="card card-custom">
        <div class="card-front">
          <div class="card-body">
            <h5 class="card-title">Warehouse Management System</h5>
            <p class="card-text">
              Assisted in the development of a Warehouse Management System aimed
              at optimising inventory management and order fulfilment processes.
              Leveraged .NET 7 for backend API development and Angular 12 for
              the frontend.
            </p>
          </div>
        </div>
        <div class="card-back">
          <img
            src="assets/undraw-warehouse.svg"
            alt="Project 4 SVG"
            width="200"
            height="200"
          />
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card card-custom">
        <div class="card-front">
          <div class="card-body">
            <h5 class="card-title">Employee Time Tracking</h5>
            <p class="card-text">
              Contributed to frontend development for an Employee Time Tracking
              Dashboard using React. Designed interfaces to display employee
              timings and productivity data, collaborating closely with backend
              developers. Ensured responsiveness and visual appeal to meet
              project objectives.
            </p>
          </div>
        </div>
        <div class="card-back">
          <img
            src="assets/undraw-time.svg"
            alt="Project 5 SVG"
            width="200"
            height="200"
          />
        </div>
      </div>
    </div>
  </div>
</div>

<!-- contact -->
<div class="container mt-5">
  <div class="row align-items-center justify-content-center">
    <div class="col-md-12">
      <h2 class="section-title text-center">Contact Me</h2>
    </div>
    <div class="col-md-6">
      <div>
        <img
          src="assets/undraw-mail.svg"
          alt="Contact SVG"
          width="100%"
          height="auto"
        />
      </div>
    </div>
    <div class="col-md-6">
      <div class="contact-form">
        <p class="mb-4">
          Feel free to reach out for any inquiries or collaborations.
        </p>
        <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              class="form-control"
              id="name"
              placeholder="Your Name"
              name="name"
              ngModel
              required
            />
          </div>
          <div class="form-group">
            <label for="email">Email address</label>
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="Your Email"
              name="email"
              ngModel
              required
            />
          </div>
          <div class="form-group">
            <label for="message">Message</label>
            <textarea
              class="form-control"
              id="message"
              rows="5"
              placeholder="Your Message"
              name="message"
              ngModel
              required
            ></textarea>
          </div>
          <div class="text-center">
            <button
              type="submit"
              class="btn btn-primary"
              [disabled]="contactForm.invalid"
            >
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
