/* Custom Navbar Color */
.custom-navbar-color {
    background-color: #FF6B6B;
    padding: 1rem 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.5s; 
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
}

.navbar-nav .nav-link {
    color: #FFD166;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #06D6A0;
}

.col-md-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.svg-container {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.svg-container img {
    width: 100%;
    height: auto;
    object-fit: contain;
    transition: transform 0.3s; 
}

.svg-container img:hover {
    transform: scale(1.1); 
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #FF6B6B;
}

p {
    font-size: 1.2rem;
    color: #333;
}

.row-intro {
    background: linear-gradient(to right, #faf3e0, #c2f7e9); 
    padding: 2rem;
    border-radius: 10px;
    color: #333;
}

/* project cards */

.card-custom {
    position: relative;
    width: 100%;
    height: 250px;
    perspective: 1000px;
}

.card-front, .card-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: transform 0.6s, box-shadow 0.3s; 
    transform-style: preserve-3d;
}

.card-front {
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateY(0deg);
}

.card-back {
    background-color:  #fffef6;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateY(180deg);
}

.card-custom:hover .card-front {
    transform: rotateY(-180deg);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.card-custom:hover .card-back {
    transform: rotateY(0deg);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); 
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #FF6B6B;
}

.card-text {
    font-size: 1rem;
    color: #495057;
}

.card-text::first-letter {
    font-size: 1.5em;
    font-weight: bold;
}

.card {
    --bs-card-border-width: 0; 
}

/* Contact Form Styles */
.row.align-items-center.justify-content-center {
    background: linear-gradient(to bottom right, #faf3e0, #c2f7e9);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contact-form {
    padding: 2rem;
    border-radius: 10px;
}

.contact-form h2 {
    color: #fff; 
    text-align: center;
    margin-bottom: 1.5rem;
}

.contact-form .form-group {
    margin-bottom: 1.5rem;
}

.contact-form label {
    font-weight: bold;
    color: #495057;
}

.contact-form .form-control {
    border: none;
    border-radius: 5px;
    background-color: #fff;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    color: #495057;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.contact-form .form-control:focus {
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.contact-form textarea.form-control {
    resize: vertical;
}

.contact-form .btn-primary {
    background-color: #FF6B6B;
    border-color: #FF6B6B;
    color: #fff;
    font-weight: bold;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.contact-form .btn-primary:hover {
    background-color: #E55451;
    border-color: #E55451;
}

.contact-form .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 107, 107, 0.5);
}

.section-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #FF6B6B;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}


  /* sweetAlert */

.swal2-popup {
    font-family: 'Arial', sans-serif;
}
  
.swal2-title {
    color: #FF6B6B;
}
  
.swal2-content {
    color: #495057;
}
  
.swal2-confirm {
    background-color: #FF6B6B;
    color: #fff;
}