.custom-navbar-color {
    background-color: #FF6B6B;
    padding: 1rem 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.5s; /* Smooth background color transition */
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
}

.navbar-nav .nav-link {
    color: #FFD166;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #06D6A0;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='#fff' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}